/* :root {
  --main-color: #212121;
  --second-color: #757575;
  --title-color: #ffffff;
  --hover-color: #2196f3;
  --bg-main-color: #ffffff;
  --bg-color: #2f303a;
  --logo-color: #000;
  --bg-section-color: #f5f4fa;
  --bg-hero-btn: #188ce8;
  --border-portfolio-color: #EEEEEE;
  --contact-color:  rgba(255, 255, 255, 0.6);
  --soc-color: #AFB1B8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-main-color);
  color: var(--main-color);
  font-family: Roboto, sans-serif;
} */

/* .container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
 } */

/* ----------------------------header--------------------------------- */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ECECEC;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  margin-left: 93px;
  gap: 50px;
} 

.navigation {
  margin-right: auto;
}


.logo {
  color: var(--logo-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-part {
  color: var(--hover-color);
}

.list {
  list-style: none;
}



.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav:hover,
.site-nav:focus {
  color: var(--hover-color);
}

.header-mail {
  margin-right: 50px;
}

.header-tel,
.header-mail {
  display: flex;
  gap: 10px;
  align-items: center;
  
  color: var(--second-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel:hover,
.header-tel:focus,
.header-mail:hover,
.header-mail:focus,
.current {
  color: var(--hover-color);
}

.header-item {
  position: relative;
}

.current::after {
  position: absolute;
  content:'';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--hover-color);
  left: 0; 
  top: 47px;
}

.icon-header {
  fill: var(--second-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel:hover .icon-header, 
.header-tel:focus .icon-header,
.header-mail:hover .icon-header,
.header-mail:focus .icon-header {
  fill: var(--hover-color);
}


/* ----------------------------hero--------------------------------- */
/* 
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-size: cover;
  background-color: var(--bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
}


.hero-title {
  margin-bottom: 30px;
  color: var(--title-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  display: block;
  min-width: 216px;
  height: 50px;
  border-radius: 4px;
  margin: 0 auto;
  
  color: var(--title-color);
  background-color: var(--hover-color);
  
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--bg-hero-btn);
} */

/* ----------------------------Наші переваги--------------------------------- */

.pluses {
  padding-top: 94px;
  padding-bottom: 94px;
}

.pluses-list {
  display: flex;
  gap: 30px;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


.pluses-item {
  width: 270px;
}

.pluses-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.pluses-text {
  color: var(--second-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.icon-pluses {
  height: 120px;
  background-color: var(--bg-section-color);
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* -----------------------------Чим ми займаємось---------------------------------- */

.work {
  padding-bottom: 94px;
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-foto {
  display: block;
}

.work-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.work-item {
  position: relative;
}

.work-element {
  position: absolute;
  width: 100%;
  bottom: 0;
  
  padding-top: 27px;
  padding-bottom: 27px;
  

  color: var(--title-color);
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

}

/* -----------------------------Наша команда---------------------------------- */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--bg-section-color);
}


.team-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  background-color: var(--bg-main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-foto {
  display: block;
}

.team-sign {
  padding-top: 30px;
  padding-bottom: 30px;

}

.team-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-pos {
  margin-bottom: 16px;
  color: var(--second-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-soc-list {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 10px;  
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-soc {
  width: 44px;
  height: 44px;
  background-position: center;
}

.icon-soc {
  fill: var(--soc-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--hover-color);
}

.team-soc-link:hover .icon-soc,
.team-soc-link:focus .icon-soc {
  fill: var(--bg-main-color);
}

/* ---------------------------------------Наші кліенти------------------------ */

.client-title {margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03e;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.client-item {
  width: 170px;
  height: 92px;
  }

.client-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--soc-color);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  fill: var(--soc-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  border: 1px solid var(--hover-color);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--hover-color);
}

/* ---------------------------------------portfolio------------------------ */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-btn-list {
  display: flex;
  margin-bottom: 50px;
  gap: 8px;
  justify-content: center;
}
  
.portfolio-btn {
  min-width: 73px;
  height: 38px;
  border-radius: 4px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: transparent;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--title-color);
  background-color: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.portfolio-link {
  text-decoration: none;
}

.portfolio-sign {
  padding: 20px 24px 20px 24px;
  border-left: 1px solid var(--border-portfolio-color);
  border-right: 1px solid var(--border-portfolio-color);
  border-bottom: 1px solid var(--border-portfolio-color);
}

.portfolio-foto {
  display: block;
}
.portfolio-title {
  margin-bottom: 4px;

  color: var(--main-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-txt {
  color: var(--second-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio-overlay {
  position: relative;
  width: 370px;
  overflow: hidden;
}

.portfolio-element {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  transform: translateY(100%);

  padding: 63px 24px;

  color: var(--title-color);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:hover .portfolio-element,
.portfolio-item:focus .portfolio-element {
  transform: translateY(0);  
}

/* -------------------------------------footer---------------------------------- */

.contacts>.container {
  display: flex;
  align-items: baseline;
 
}

.contacts {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bg-color);
}
.contact-logo {
  display: block;
  margin-bottom: 20px;

  color: var(--title-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.contact-adr {
  margin-bottom: 9px;

  color: var(--title-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contact-mail,
.contact-tel {
  display: block;

  color: var(--contact-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-mail {
  margin-bottom: 9px;
}

.contact-mail:hover,
.contact-mail:focus,
.contact-tel:hover,
.contact-tel:focus {
  color: var(--hover-color);
}

.container-affiliation {
  margin-left: 70px;
  margin-right: auto;
}

.affiliation {
  margin-bottom: 20px;

  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.affiliation-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.affiliation-item {
  width: 44px;
  height: 44px;
}

.affiliation-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.affiliation-icon {
  fill: var(--title-color);
}

.affiliation-link:hover,
.affiliation-link:focus {
  background-color: var(--hover-color);
}

.form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 20px;
}

.footer-input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}

.form-email {
  display: flex;
  gap: 12px;
}

.footer-input:focus {
  border: 1px solid var(--hover-color);
}

.footer-form-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--title-color);
  background-color: var(--hover-color);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: var(--bg-hero-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-icon {
  fill: var(--title-color);
}

/* -------------------------------------backdrop--------------------------------- */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal {
  width: 528px;
  min-height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  
  background-color: var(--bg-main-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1) skew(0deg);
  transition: transform 500ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5) skew(45deg);
}

.modal-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon:hover,
.modal-icon:focus {
  fill: var(--hover-color);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  padding: 40px;
}

.modal-title {
  font-size: 20px;
  line-height: 1.12;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 12px;
}

.input-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--second-color);
  display: block;
  margin-bottom: 4px;
}

.input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--main-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;
  outline: transparent;
  padding-left: 42px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border: 1px solid var(--hover-color);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--hover-color);
}

.coment-input {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  margin-bottom: 20px;
  resize:none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.coment-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  
  color: rgba(117, 117, 117, 0.5);
}

.coment-input:focus {
  border: 1px solid var(--hover-color);
}

.conset-wrapper {
  margin-bottom: 30px;
}


.label-consent {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.label-consent span {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
}

.form-consent:checked + .label-consent span {
  background-color: var(--hover-color);
  border: none;
  fill: var(--title-color);
}

.contract {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--hover-color);
}

.modal-form-btn {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border: none;
  background-color: var(--hover-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--title-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--bg-hero-btn);
}